/* Header */
.header__search {
  width: 372px;
  height: 56px;
  background-color: var(--bgr-search);
  border-radius: 10px;
}
.header__search--input {
  border: 0;
  outline: none;
  background-color: transparent;
}

.menu {
  margin: 34px 0;
}
.menu--icons {
  margin: 28px 0;
}
.icons__cart {
  position: relative;
}
.quantity {
  position: absolute;
  top: -8px;
  right: -8px;
  color: var(--white);
  width: 16px;
  height: 16px;
  background-color: red;
  border-radius: 50%;
}
