@font-face {
    font-family: "Inter";
    src: url("../../font/Inter/static/Inter_18pt-Medium.ttf");
    font-weight: 500;
    font-size: 16px;
}
@media (min-width:1400px) {
    .container{
        max-width: 1144px;
    }
}
*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter";
    font-size: 16px;
    font-weight: 500;
}
:root{
    --black:#000000;
    --white:#FFFFFF;
    --bgr-search:#F5F5F5;
    --bgr-ctg:#EDEDED;
    --purple:#781DBC;
    --red:#E10000;
    --yellow:#E1B000;
    --white1:#E8E8E8;

}
ul{
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--black);
}
.header{
    height: 88px;
}
